@import '../styles/FontVariables.module.scss';

.button {
    border-style: none;
    border-radius: .4rem;
    height: 2.5rem;
    padding: 0 1rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    
    font-family: $font-family-action;
    font-weight: $font-weight-action;
    font-size: $font-size-action;

    &_primary {
        @extend .button;
        background-color: #FFFFFF;
        color: #141c21;
    }

    &_secondary {
        @extend .button;
        background-color: #353535;
        color: #FFFFFF;
    }

    &:hover {
        // 1. Grows the button slightly
        // 2. The shadow is slightly more pronounced
        transform: scale(1.05);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }
}